#
# Copyright (c) 2025 Noé Henchoz
# Author: Noé Henchoz
# File: docker-compose.yml
# Title: Docker Compose Configuration
# Description: Defines the services, networks, and volumes for the application.
# Last modified: 2025-11-14
#

# Defines the containers that make up the application.
services:
    # --- Express API Service ---
    # This is the main application service.
    express_template:
        # Build the Docker image from the Dockerfile in the current directory ('.').
        build: .
        # Assign a static, human-readable name to the container.
        container_name: express-template
        # Restart policy: always restart the container unless it was manually stopped.
        restart: unless-stopped
        # Load environment variables from the .env file in the root directory.
        # This is a secure way to pass secrets to the container.
        env_file:
            - .env
        # Port mapping (HOST:CONTAINER)
        # It reads the 'PORT' variable from the shell (defaulting to 3000)
        # and maps it to the same 'PORT' variable *inside* the container
        # (which is set by the 'env_file').
        ports:
            - '${PORT:-3000}:${PORT:-3000}'
        # Volume mapping (HOST:CONTAINER)
        # This persists the logs generated inside the container's /app/logs directory
        # to a ./logs directory on the host machine.
        volumes:
            - ./logs:/app/logs
        # TODO
        command: sh -c "npm run db:deploy && npm start"
