version: '3.8'

services:
  express_template:
    build: .
    container_name: express-template
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./logs:/app/logs
